# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.env
ENV/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Data files
*.csv
*.tsv
*.h5
*.hdf5
*.pkl
*.pickle

# Logs
*.log

# macOS
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
